/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Reem+Kufi:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main styles */
html {
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
}

main {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 18px;
	padding: 0 40px;
	position: relative;
	left: 420px;
	width: calc(100% - 500px);
}

p {
	line-height: 1.5;
}

/* Static Header/Nav Panel */

#static-panel {
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	height: calc(100vh - 60px);
	justify-content: space-between;
	max-width: 300px;
	padding: 30px 60px;
	position: fixed;
	width: 100%;
}

#static-panel a,
#static-panel a > *,
#static-panel a > *::before,
#static-panel a > *::after {
	text-decoration: none;
	transition-property: color;
	transition-duration: .25s;
}

/* Logo */
#static-panel .logo {
	display: inline-block;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 96px;
	font-weight: bold;
	text-decoration: none;
}

#static-panel .logo::before {
	color: #f5f5f5;
	content: "B";
}

#static-panel .logo::after {
	color: #cdcdcd;
	content: "T";
	position: relative;
	left: -30px;
}

#static-panel a:hover .logo::before {
	color: #c5c0fd;
}

#static-panel a:hover .logo::after {
	color: #a6a1d4;
}

/* Navigation */

.menu {
	background: #000;
	width: 100%;
}

nav ul li a {
	color: #fff;
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	margin: 14px 0;
}

nav ul li a:hover,
nav ul li a.active {
	color: #c5c0fd;
}

.menu-toggle {
	display: none;
}

/* Content Panels */
.panel {
	min-height: calc(100vh - 80px);
	padding: 40px 0;
	width: 100%;
}

.panel h2 {
	font-family: 'Playfair Display', serif;
	font-size: 84px;
	line-height: 1.25;
}

.panel h3 {
	display: inline-block;
	font-family: 'Playfair Display', serif;
	font-size: 38px;
	line-height: 1.5;
	margin-bottom: 18px;
	position: relative;
}

.panel .subtitle {
	display: inline-block;
	margin: 18px 0 36px 0;
}

/* Intro Panel */
#intro {
	text-align: center;
}

#intro h1 {
	font-family: 'Playfair Display', serif;
	font-size: 96px;
	line-height: 1.25;
}

#intro .headshot {
	background-image: url(../img/headshot.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	display: block;
	height: 200px;
	margin: 0 auto;
	width: 200px;
}

#intro .headshot-caption {
	margin: 0 auto;
}

#intro .headshot-caption::before {
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: " ";
	display: block;
	height: 70px;
	margin: 18px auto;
	width: 16px;

}

/* About Panel */

#about .milestone {
	margin-bottom: 36px;
}

#about .milestone .year::after {
	border-bottom: 2px solid #000;
	content: " ";
	display: block;
	position: absolute;
	right: 0;
	width: 38px;
}

/* Work Panel */

#work .skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#work .skills .skillset {
	flex: 1 0 auto;
	margin-right: 36px;
	margin-bottom: 36px;
}

#work .skills .skillset:last-child {
	margin-right: 0;
}

#work .skills .skillset li {
	margin-bottom: 14px;
}

#work .resume {
	margin: 48px 0;
	text-align: center;
}

#work .resume .btn {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin: 0 auto;
	padding: 24px 48px;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: .25s;
}

#work .resume .btn:hover {
	background-color: #a6a1d4;
}

/* Contact Panel */

#contact .contact-icons ul li {
	display: inline-block;
	margin-right: 24px;
}

#contact .contact-icons ul li:last-child {
	margin-right: 0;
}

#contact .contact-icons ul li a {
	color: #000;
	transition-property: color;
	transition-duration: .25s;
}

#contact .contact-icons ul li a:hover {
	color: #a6a1d4;
}


/* Laptop */
@media only screen and (max-width: 1060px) {
	main {
		left: 300px;
		width: calc(100% - 380px);
	}

	#static-panel {
		height: 100vh;
		max-width: 240px;
		padding: 15px 30px;
	}

	.panel h2 {
		font-size: 72px;
	}
	
	.panel h3 {
		font-size: 32px;
	}

	#intro h1 {
		font-size: 84px;
	}
}

/* Tablet */
@media only screen and (max-width: 870px) {
	main {
		left: 0;
		top: 126px;
		width: 100%;
	}

	#static-panel {
		flex-direction: row;
		height: auto;
		justify-content: flex-start;
		max-height: 126px;
		max-width: 100%;
		padding: 15px 30px;
		z-index: 2;
	}

	nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	nav ul li {
		display: inline;
		margin-right: 28px
	}

	nav ul li:last-child {
		margin-right: 0;
	}

	nav ul li a {
		font-size: 28px;
	}

	#intro {
		padding-top: 40px;
	}

	.panel {
		min-height: calc(100vh - 186px);
		padding: 166px 0 40px 0;
		width: 100%;
	}

	.panel h2 {
		font-size: 58px;
	}

}

/* Mobile */
@media only screen and (max-width: 498px) {

	.menu {
		opacity: 0;
		padding: 0 30px 15px 30px;
		position: absolute;
			top: 100px;
			left: 0;
		transition-property: opacity;
		transition-duration: .25s;
	}

	#menu-toggle {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		right: 90px;
	}

	#menu-toggle span {
		position: relative;
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background-color: #fff;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 21px 2px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}

	#menu-toggle span:first-child {
		  transform-origin: 0% 0%;
	}

	#menu-toggle:hover span {
		background-color: #c5c0fd;
	}

	nav.open .menu {
		opacity: 1;
	}

	nav.open #menu-toggle span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background-color: #c5c0fd;
	}
	nav.open #menu-toggle span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	nav.open #menu-toggle span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}


	#static-panel .logo {
		font-size: 72px;
	}

	#static-panel .logo::after {
		left: -24px;
	}

	#intro h1 {
		font-size: 48px;
	}

	.panel h2 {
		font-size: 42px;
	}

	.panel h3 {
		font-size: 24px;
	}

	nav ul li a {
		font-size: 22px;
	}

	#work .skills {
		display: block;
	}
}